[tools]
lefthook = "2.0.15"

# lefthook hooks
actionlint = "1.7.10"
bun = "1.3.6"
"cargo:basefmt" = "0.1.0"
"npm:@commitlint/cli" = "20.3.1"
"npm:prettier" = "3.7.4"
shellcheck = "0.11.0"
shfmt = "3.12.0"

[settings]
npm.bun = true
